<div class="side-bar-top">
  <div class="user_create-chat">
      <div class="user">
        <a href="#">taro</a>
      </div>
      <div class="create-chat">
        <a href="#">チャットを作成する</a>
      </div>
  </div>
</div>
<div class="side-bar-body">
</div>